body {
    background-color: #333;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #bbb;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#privacy-policy {
    text-align: left !important;
    display: grid;
    justify-content: center;
}

#privacy-policy div {
    display: block;
    width: 50vw;
    min-width: 500px;
}

.select-button {
    border: 2px solid #fff;
    box-shadow: 5px 5px 5px #000;
    display: inline-block;
    font-size: 3.5em;
    height: 1.2em;
    margin: 5px;
}

.select-button.selected {
    background-color: #55b;
}

.mouse-down {
    box-shadow: 2px 2px 5px #000;
}

.select-button:hover {
    background-color: #fff;
}

.letter-select-button {
    width: 1.2em;
}

.number-select-button {
    width: 2em;
}

#wormhole-metrics {
    text-align: center;
}

#wormhole-metric-bars, #wormhole-metric-values {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

#wormhole-metric-bars {
    text-align: left;
}

.value-header {
    display: block;
    font-weight: 700;
    margin-bottom: .25em;
    margin-left: 0;
    margin-top: 1em;
}

.bar-border {
    border: 2px solid #fff;
    display: block;
    height: 1em;
    width: 10vw;
}

.bar-value {
    background-color: #fff;
    height: 1em;
}

.simple-value {
    display: block;
    font-size: 1em;
    margin: 2.4em;
}

#wormhole-destination {
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: .1em;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    margin-bottom: 0.25em;
}

footer {
    flex: 1 0 auto;
}

footer span {
    display: block;
    margin-top: .5em;
}
