body {
    background-color: #333;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #bbb;
    display: grid;
    Grid-template-rows: 1fr auto;
    min-height: 100%;;
}

.content {
    display: grid;
    justify-content: center;
}

td {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: rgba(50, 50, 50, .2)
}

tr th:nth-child(1), th:nth-child(2), td:nth-child(1), td:nth-child(2) {
    text-align: left;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

footer span {
    display: block;
    margin-top: .5em;
}
